*{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    border:border-box;
}
body{
 background-color:rgba(137,184,224,0.5);
}
.nav-bar{
    background-color: #0f1111;
    height: 60px;
    width: 100vw;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
     border: 1.5px solid white;
}
/* body{
    background-color: white;
} */
*{
    margin: 0px;
    border:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-logo{
    height: 54px;
    width: 114px;
}
.logo{
    height: 100%;
    width:110px;
    background-image: url(/logo.png);
    background-size: cover;
}
/* #deli{
    font-size: 14px;
} */
.navbar-add{
    height: 100%;
    width: 88.64px;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-searchbar:hover{
    border: 2px solid #FF9900 ;
}
.fad{
    font-size: 12px;
    color: #cccccc;
    padding-left: 21px;
}
.sad{
    /* padding-right: 20px; */
    font-size:14PX;
}
.nav-searchbar{
    width: 750px;
    height: 40px;
    background-color:#FF9900;
    display: flex;
    border-radius: 4px;
}
.selectnav{
    background-color:#d0c9c9 ;
    color: #6d6a6a;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    height:40px;
    width: 50px;
    display: flex;
    text-align: center;
    border: none;
}
.search-amazon{
    width:100%;
    font-size: 1rem;
    border: none;
}
.mignifing{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}


.account{
    width: 113.5px;
    height: 50px;
}
.ac1{
    font-size: 0.75rem;
}
.ac2{
    font-size: 0.85rem;
    font: weight 700px;
}



.cart{
    display: flex;
}
.icon{
    font-size:30px;
}
.carttext{
    padding-top: 16px;
}




.pannel{
    height: 39px;
    width: 100vw;
    background-color: rgba(15,17,17,0.95);
    display: flex;
    align-items: center;
    align-content: center;
   
   

}
.menu-class{
    padding-left: 8px;
}
.first-pannel{
    height: 39px;
    width: 58.41px;
    display: flex;
    align-items: center;
    /* font-size: ; */
}
.second-pannel{
    display: flex;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
    /* font-size: 14px; */
}
.menu{
    margin-left: 18px;
}




.hero-section{
    background-image: url(/amazonHero_.jpg);
    background-size: cover;
    height: 350px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}
.info{
    background-color: rgb(224, 224, 186);
    height: 40px;
    width: 85%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.shoping{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(137,184,224,0.5);
    
}
.box{
    margin-top: 15px;
    width: 23%;
    height: 400px;
    
    background-color: white;
    padding: 20px 0px 15px;
   
}
.box-image{
    height: 300px;
    background-size: cover;
    margin-top: 1rem ;
    margin-bottom: 1rem;
}
.box-content{
    margin:0px 1rem 0px 1rem;
    
}
.box-content p{
    color: rgb(18, 118, 217)''
}


.firstfoot{
    border: 1px solid #00000000;
    width: 100%;
    height: 200px;
    background-color:rgba(137,184,224,0.5);
    display: flex;
}
.footdiv{
    border: 1px solid grey;
    border-radius: 4px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px;
    margin: 20px;
    background-color: white;}
.but{
    height: 30px;
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7d911;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.secondfoot p{
    font-size: 13px;
}
.secondfoot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 100%;
    background-color:rgba(31, 49, 72, 0.5);
    color: white;
}


.thirdfoot{
    align-items: center;
    
    height: 300px;
    width: 100%;
    background-color: #232f3f;
    display: flex;
    justify-content: space-evenly;
}
.thirdfoot a{
    display: block;
}
.thirdfoot p{
    color: white;
    font-weight: 700;
}



.footer4{
    height: 70px;
    width: 100%;
    background-color:#0f1111 ;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.flogo{
    width: 100px;
    height: 50px;
    background-image: url(/logo.png);
    background-size: cover;
}

.footer5{
    height: 100px;
    width: 100%;
    background-color: #232f3f;
}
.p1 {
    display: flex;
}
.p1 a{
    color: white;
}
.p2{
    color: white;
}
.footer5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}